.bookingRegisterContainer {
  background-color: #f9f9f9;
  border-radius: 10px;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 50%;
}

.bookingRegisterButtonSection {
  padding-top: 20px;
  margin: auto;
  width: 50%;
}

.bookingRegisterTable {
  border-radius: 5px;
  border: solid #cdcdcd;
  padding: 10px;
}
